<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.comm.dao.CommDao">
    <select id="getData" resultType="java.util.HashMap" databaseId="mysql">
          select  * from stt_privilege
    </select>

    <select id="getData" resultType="java.util.HashMap" databaseId="oracle">
          select  * from stt_privilege
    </select>

</mapper>

