<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.settle.dao.SettleDao">
    <select id="getData" resultType="java.util.HashMap" databaseId="oracle">
        select  * from RPT_SETTLE_RESULT_EMP
    </select>

    <select id="getData" resultType="java.util.HashMap" databaseId="mysql">
        select  * from RPT_SETTLE_RESULT_EMP
    </select>

</mapper>

